<div ng-show="user" id="background-wrapper">
<h4>Welcome, {{user.username}}</h4>
</div>

<div class="hidden-xs" id="background-wrapper">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" ng-class="{'active': state == 'home.search.recipe' || state == 'home.search'}"><a href="#" ui-sref="home.search.recipe">Search</a></li>
    <li role="presentation" ng-hide="user" ng-class="{'active': state == 'home.login'}"><a href="#" ui-sref="home.login">Log In</a></li>
    <li role="presentation" ng-hide="user" ng-class="{'active': state == 'home.register'}"><a href="#" ui-sref="home.register">Register</a></li>
    <li role="presentation" ng-show="user" ng-class="{'active': state == 'home.cookbook.recipe'}"><a href="#" ui-sref="home.cookbook.recipe">Cookbook</a></li>
    <li role="presentation" ng-show="user" ng-class="{'active': state == 'home.shoppingList'}"><a href="#" ui-sref="home.shoppingList">Shopping List</a></li>
    <li role="presentation" ng-show="user"><a href="#" ng-click="logout(); clearData()">Log Out</a></li>
  </ul>
</div>