<h4 ng-show="user">Welcome, {{user.username}}</h4>

<ul class="nav nav-pills nav-stacked">
  <li role="presentation" ng-class="{'active': isActive('/search')}">
	  <a href="#" ui-sref="search">Search</a>
  </li>
  <li role="presentation" ng-hide="user" ng-class="{'active': isActive('/login')}">
	  <a href="#" ui-sref="login">Log In</a>
  </li>
  <li role="presentation" ng-hide="user" ng-class="{'active': isActive('/register')}">
	  <a href="#" ui-sref="register">Register</a>
  </li>
  <li role="presentation" ng-show="user" ng-class="{'active': isActive('/cookbook')}">
	  <a href="#" ui-sref="cookbook">Cookbook</a>
  </li>
  <li role="presentation" ng-show="user" ng-class="{'active': isActive('/shopping-list')}">
	  <a href="#" ui-sref="shoppingList">Shopping List</a>
  </li>
  <li role="presentation" ng-show="user">
	  <a href="#" ng-click="logout()">Log Out</a>
  </li>
</ul>
