<div>
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" ng-show="user" class="dropdown active">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dietary Restrictions<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li ng-repeat="label in healthLabels" ng-hide="label.added">
          <a href="" class="capitalize" ng-click="addHealthLabel(label)">{{label.label}}</a>
        </li>
      </ul>
    </li>
  </ul>

  <!-- Mobile -->
  <div class="visible-xs">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" ng-show="user" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Filters<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="xs-remove-label" ng-if="user.healthLabels.length == 0">No active filters</li>
          <li class="xs-remove-label" ng-repeat="label in user.healthLabels" ng-hide="label.added">
            <span class="glyphicon glyphicon-remove capitalize" ng-click="removeHealthLabel(label)"></span>
            {{label.label}}
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- Desktop -->
  <div ng-show="user" class="hidden-xs">
    <h4 class="centered-text" ng-hide="user.healthLabels.length == 0">My Filters</h4>
    <ul class="list-group">
      <li ng-repeat="label in user.healthLabels" class="list-group-item">
        <button type="button" class="btn btn-default btn-sm inline_button" ng-click="removeHealthLabel(label)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <span class="capitalize">{{label.label}}</span>
      </li>
    </ul>
  </div>
</div>