<!-- <flash-message></flash-message> -->
<div class="col-sm-12 col-md-11 col-md-push-1 col-md-pull-1 col-lg-11 col-lg-push-1 col-lg-pull-1">
  
  <div class="page-header hidden-xs">
    <a ui-sref="home.search.recipe">
      <h1>ReciPlease</h1>
    </a>
  </div>

  <div class="navbar navbar-custom navbar-fixed-top visible-xs">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a class="navbar-brand visible-xs">ReciPlease</a>
    </div>

    <div uib-collapse="!isCollapsed">
      <ul class="nav navabar-nav nav-dropdown">
        <li><a ui-sref="home.search.recipe" ng-click="isCollapsed = !isCollapsed">Search</a></li>
        <li ng-hide="user"><a ui-sref="home.login" ng-click="isCollapsed = !isCollapsed">Log In</a></li>
        <li ng-hide="user"><a ui-sref="home.register" ng-click="isCollapsed = !isCollapsed">Register</a></li>
        <li ng-show="user"><a ui-sref="home.cookbook.recipe" ng-click="isCollapsed = !isCollapsed">Cookbook</a></li>
        <li ng-show="user"><a ui-sref="home.shoppingList" ng-click="isCollapsed = !isCollapsed">Shopping List</a></li>
        <li ng-show="user"><a ui-sref="home.logout" ng-click="isCollapsed = !isCollapsed">Log Out</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    
      <h4 ng-show="user">Welcome {{user.username}}</h4>

      <br>

    <div class="hidden-xs">
      <ul class="nav nav-pills nav-stacked">
        <!-- <li class="navbar-brand hidden-xs">ReciPlease</li> -->

        <li role="presentation" ng-class="{'active': state == 'home.search.recipe' || state == 'home.search'}"><a href="#" ui-sref="home.search.recipe">Search</a></li>

        <li role="presentation" ng-hide="user" ng-class="{'active': state == 'home.login'}"><a href="#" ui-sref="home.login">Log In</a></li>
        <li role="presentation" ng-hide="user" ng-class="{'active': state == 'home.register'}"><a href="#" ui-sref="home.register">Register</a></li>
        <li role="presentation" ng-show="user" ng-class="{'active': state == 'home.cookbook.recipe'}"><a href="#" ui-sref="home.cookbook.recipe">Cookbook</a></li>
        <li role="presentation" ng-show="user" ng-class="{'active': state == 'home.shoppingList'}"><a href="#" ui-sref="home.shoppingList">Shopping List</a></li>
        <li role="presentation" ng-show="user"><a href="#" ng-click="logout(); clearData()">Log Out</a></li>
      </ul>
    </div>
      
      <br>


      <div ng-show="user">
        
        <div class="btn-group row">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Health Labels<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="label in healthLabels" ng-hide="label.added">
              <a href="" ng-click="addHealthLabel(label)">{{label.label}}</a>
            </li>
          </ul>
        </div>


        <div>
          <h4>My Filters</h4>
          <ul class="list-group">
            <li ng-repeat="label in user.healthLabels" class="list-group-item">
            
              <button type="button" class="btn btn-default btn-sm inline_button" ng-click="removeHealthLabel(label)">

                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <span class="capitalize">{{label.label}}</span>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
      <ui-view></ui-view>
    </div>

  </div>
</div>
