<div class="col-sm-12 col-md-11 col-md-push-1 col-md-pull-1 col-lg-11 col-lg-push-1 col-lg-pull-1">
  <div class="page-header hidden-xs">
    <a ui-sref="home.search.recipe">
      <h1>ReciPlease</h1>
    </a>
  </div>

  <mobile-nav></mobile-nav>

  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <desk-nav></desk-nav>
      <health-labels></health-labels>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10" id="wrapper">
      <flash-message name="main"></flash-message>
      <ui-view></ui-view>
    </div>
  </div>
</div>
