<div ng-show="recipe">
  <h3>
    <a href="{{recipe.url}}" target="_blank">
      {{recipe.label}}
    </a>
  </h3>

  <div ng-show="vm.signedIn()">

    <button 
      ng-hide="recipe.bookmarked"
      ng-click="vm.addToCookbook(recipe)">Add to Cookbook
    </button>

    <button 
      ng-show="recipe.bookmarked" 
      ng-click="vm.removeFromCookbook(recipe)">Remove from Cookbook
    </button>
  </div>
  
  <img src="{{recipe.image}}" class="recipe-image" />
  
  <br>
  
  Ingredients:
  
  <ul>
    <li ng-repeat="ingredient in recipe.ingredients">{{ingredient.text}}</li>
  </ul>

</div>