<div ng-show="recipe" id="background-wrapper">
  <h4 class="centered-text" id="recipe-label">
    <a href="{{recipe.url}}" target="_blank">
      {{recipe.label}}
    </a>
  </h4>

  <div class="centered-text">
    <button type="button" class="btn btn-success centered-btn"
      ng-hide="recipe.bookmarked"
      ng-if="user"
      ng-click="addRecipe(recipe)">Add to Cookbook
    </button>

    <button type="button" class="btn btn-danger centered-btn"
      ng-show="recipe.bookmarked"
      ng-if="user"
      ng-click="removeRecipe(recipe)">Remove from Cookbook
    </button>

    <button type="button" class="btn btn-success centered-btn"
    ng-hide="user"
    ui-sref="home.register">Sign Up or Login to Bookmark this Recipe
    </button>
  </div>
  
  <div id="img-container" style="background-image: url({{recipe.image}});">
  </div>
    
  <h4 class="centered-text">Ingredients:</h4>

    <ul class="list-group" id="recipe-scroller-container">
      <li ng-repeat="ingredient in recipe.ingredients | unique:'text'" class="list-group-item">{{ingredient.text}}</li>
    </ul>

</div>