<div class="row">
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="left-column">

  <form ng-submit="vm.recipeSearch(vm.query)" remote="true" id="search-form">
    <input type="text" class="form-control input-lg" placeholder="Search for recipes" ng-model="vm.query" class="recipe-search" />
  </form>

  <div ng-if="noResults">
    <h5>Your search returned 0 results. Try removing health labels or search more general terms</h5>
  </div>
  
  <div ng-if="searchRecipes.length > 0" class="row">
    <div class="row">
      <h4 id="search-result-title">Showing {{searchRecipes.length}} results for "{{ searchQuery }}"</h4>
    </div>

    <nav aria-label="...">
      <ul class="pager">
        <li><a href="#" ng-click="searchPagination.prevPage()" ng-hide="searchPagination.page == 0">Previous</a></li>
        <li><a href="#" ng-click="searchPagination.nextPage()" ng-hide="searchPagination.page + 1 >= searchPagination.numPages">Next</a></li>
      </ul>
    </nav>    
   </div>

  <div class="row list-group">
    <button type="button" class="list-group-item" 
      ng-repeat="recipe in searchRecipes | startFrom: searchPagination.page * searchPagination.perPage | limitTo: searchPagination.perPage" 
      ui-sref="home.search.recipe" 
      ng-click="vm.showSearchRecipe(recipe)">
    {{recipe.label}}
    </button>
  </div>


</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="right-column">
  <div ui-view></div>
</div>
</div>