<div class="col-12-xs col-sm-6 col-md-6 col-lg-6">
  <h3>Ingredients from Cookbook</h3>

  <div class="row scroller">
    <ul class="list-group">
      <li class="list-group-item" ng-if="ingredients.length == 0">You have no Recipes in your Cookbook!</li>
      <li ng-repeat="ingredient in ingredients | unique:'food'" class="list-group-item">

        <button type="button" class="btn btn-default btn-sm" ng-hide="ingredient.added" ng-click="vm.addToShoppingList(ingredient)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>

        <button type="button" class="btn btn-default btn-sm" ng-show="ingredient.added" ng-click="vm.removeFromShoppingList(ingredient)">
          <span class="glyphicon glyphicon-minus"></span>
        </button>

        <span class="capitalize">{{ingredient.food}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="col-12-xs col-sm-6 col-md-6 col-lg-6">
  <h3>Shopping List</h3>
  <div class="row scroller">  
    <ul class="list-group">
      <li ng-repeat="ingredient in shoppingList | unique:'food'"  ng-class="{'done': ingredient.done}" ng-click="vm.toggleDone(ingredient)" class="list-group-item">
        <button type="button" class="btn btn-default btn-sm inline_button" ng-hide="ingredient.added" ng-click="vm.removeFromShoppingList(ingredient)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <span class="capitalize">{{ingredient.food}}</span>
      </li>
    </ul>
  </div>
</div>