<!DOCTYPE html>
<html>
  <head>
    <title>ReciPlease</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="reciPlease" ng-strict-di>
    <ui-view></ui-view>
  </body>
</html>